body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.color1{
    color: rgb(134, 121, 253);
}
section{
    display: flex;
    

  
}
.heading-border
{
    border-left:6px solid orangered;
    line-height: 40px;
    padding-left: 10px;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    
}
.half-width img{
    width: 70%;
    padding-left: 30%;
    margin-top: 20px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,turquoise);
    padding: 10px 40px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 5px;
}
    p1{
        border-left: 10px saddlebrown;
    }
}

.footer{
    min-height: 50px;
    text-align: center;
}